@model Product[]

@{ ViewBag.Title = "Product Name"; }

<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Index</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Product product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@($"{product.Price:C2}")</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

