@model Dictionary<string, string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link asp-href-include="lib/bootstrap/css/*.min.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <table class="table table-bordered table-striped">
        @foreach (var kvp in Model)
        {
            <tr>
                <td>@kvp.Key</td>
                <td>@kvp.Value</td>
            </tr>
        }
    </table>
</body>
</html>
