@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetLegacyUrl</title>
    <link asp-href-include="lib/bootstrap/css/*.min.css" rel="stylesheet" />
</head>
<body class="m-1 p-1">
    <h2>GetLegacyUrl</h2>
    <p>
        The URL requested was: @Model
    </p>
</body>
</html>
