@model Result

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Routing</title>
    <link asp-href-include="lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />
</head>
<body class="m-1 p-1">
    <table class="table table-bordered table-striped table-sm">
        <tr>
            <th>Controller:</th>
            <td>@Model.Controller</td>
        </tr>
        <tr>
            <th>Action:</th>
            <td>@Model.Action</td>
        </tr>
        @foreach (var key in Model.data.Keys)
        {
            <tr>
                <th>Key:</th>
                <td>@Model.data[key]</td>
            </tr>
        }
    </table>
</body>
</html>
